@use "../abstracts/variables" as *

.teams
  display: flex
  flex-direction: column
  gap: 16px
  margin-bottom: 24px
  &__wrapper
    display: flex
    justify-content: center
    gap: 8px
  &__team
    padding: 8px
    border: 2px solid #ccc
    width: 200px
    display: flex
    flex-direction: column
    gap: 12px
  &__controls
    display: flex
    justify-content: center
    gap: 12px
  &__button
    padding: 10px 20px
    cursor: pointer