$font-serif: "DM Serif Text", serif
$font-sans: "DM Sans", sans-serif

$gold-100: #FFC53F
$gold-200: #edb634
$gold-300: #d0a84b
$gold-400: #FFA807
$gold-950: #411F00


$white: #fff
$gray-100: #eee
$gray-200: #ddd
$gray-300: #ccc
$gray-400: #bbb
$gray-500: #aaa
$gray-600: #888
$gray-700: #777
$gray-800: #666
$gray-900: #4d4841
$gray-950: #363535
$charcoal: #333
$near-black: #111

$bronze-100: #a59c8c
$bronze-200: #8e8678
$bronze-400: #49443a
$bronze-500: #3c3932
$bronze-600: #312f2a
$bronze-700: #282621
$bronze-800: #1c1a17
$bronze-850: #161412
$bronze-900: #0f0e0c
$bronze-950: #0a0908

// Semantic accents
$color-success: #28a745
$color-danger: #dc2626
$color-danger-alt: #e74c3c
$color-win: #246a4c
$discord-blurple: #5865F2

// Stat indicators
$color-stat-teal: #31e1bb
$color-stat-green: #4ce171
$color-stat-yellow: #ffde7e
$color-stat-salmon: #f47a7a
