@use "abstracts/variables" as *

@use "components/teams"
@use "components/player"
  
body
  background: $color-background
  color: white
  font-family: $font-sans
  font-size: 16px
  user-select: none

#app
  max-width: 640px
  margin: 0 auto